<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @calendar.title %>
</p>

<p>
  <b>Description:</b>
  <%= @calendar.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @calendar.image_url %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
