<%= form_for(@members_section) do |f| %>
  <% if @members_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@members_section.errors.count, "error") %> prohibited this members_section from being saved:</h2>

      <ul>
      <% @members_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
