<!DOCTYPE html>
<html>
<head>
  <title>Dublin Toastmasters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand"> Dublin Toastmasters </a>
				<ul class="nav">
					<li><%= link_to "Home", homes_path %></li>
					<li><%= link_to "About", abouts_path %></li>
					<li><%= link_to "FAQs", faqs_path %></li>
					<li><%= link_to "Testimonials", testimonials_path %></li>
					<li><%= link_to "Tips", tips_path %></li>
					<li><%= link_to "Video Gallery", video_galleries_path %></li>
					<li><%= link_to "How to find us", how_to_find_us_path %></li>
					<li><%= link_to "Useful Links", useful_links_path %></li>
					<li><%= link_to "Members", members_sections_path %></li>
					<li><%= link_to "Calendar", calendars_path %></li>
				</ul>
			</div>
		</div>
	</div>
				
	<div class="container">
		<%= yield %>
	</div>
	<div id="wrap">
		<div id="main">
			<header>
				
			</header>
			<div id="content">
				<div id="side">
					
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		
	</footer>
</body>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
</html>
